/*
*
* GENERAL DEFINITIONS
*
*/

p.poweredby {
	text-align: right;
	margin: 0;
	a {
		display: inline-block;
		&:hover {
			background-color: transparent;
		}
		& img {
			width: 48px;
			height: auto;
			display: inline-block;
			max-width: none!important;
			outline: 0!important;
			border: 0!important;
			margin: auto;
		}
	}
}

::selection {
	color: $white;
	background-color: $brand-primary;
}

::-moz-selection {
	color: $white;
	background-color: $brand-primary;
}

.transition {
	@include transition(all .20s cubic-bezier(0.66, 0, 0.44, 1));
}

.wow {
	visibility: hidden;
}

a, a:hover, button, button:hover, .navbar-fixed-top {
	@extend .transition;
}

.max-width {
	max-width: 100%; 
}

strong {
	font-weight: 600;
	.small {
		font-weight: 500;
	}
}

.strong {
	@extend strong;
}

.thin {
	font-weight: 300;
}

img, video {
	@extend .max-width;
	height: auto;
	&.full {
		width: 100%;
	}
}

.img-rounded {
	@extend img;
	border-radius: 50%;
}

.nomargin {
	margin: 0;
}

.margin {
	margin: 1em;
	&-2x {
		margin: 2em;
		@media (max-width: $screen-sm) {
			margin: 1em;
		}
	}
	&-3x {
		margin: 3em;
		@media (max-width: $screen-sm) {
			margin: 2em;
		}
	}
	&-4x {
		margin: 4em;
		@media (max-width: $screen-sm) {
			margin: 3em;
		}
	}
	&-top {
		margin-top: 1em;
		&-2x {
			margin-top: 2em;
			@media (max-width: $screen-sm) {
				margin-top: 1em;
			}
		}
		&-3x {
			margin-top: 3em;
			@media (max-width: $screen-sm) {
				margin-top: 2em;
			}
		}
		&-4x {
			margin-top: 4em;
			@media (max-width: $screen-sm) {
				margin-top: 3em;
			}
		}
	}
	&-bottom {
		margin-bottom: 1em;
		&-2x {
			margin-bottom: 2em;
			@media (max-width: $screen-sm) {
				margin-bottom: 1em;
			}
		}
		&-3x {
			margin-bottom: 3em;
			@media (max-width: $screen-sm) {
				margin-bottom: 2em;
			}
		}
		&-4x {
			margin-bottom: 4em;
			@media (max-width: $screen-sm) {
				margin-bottom: 3em;
			}
		}
	}
	&-left {
		margin-left: 1em;
		&-2x {
			margin-left: 2em;
			@media (max-width: $screen-sm) {
				margin-left: 1em;
			}
		}
		&-3x {
			margin-left: 3em;
			@media (max-width: $screen-sm) {
				margin-left: 2em;
			}
		}
		&-4x {
			margin-left: 4em;
			@media (max-width: $screen-sm) {
				margin-left: 3em;
			}
		}
	}
	&-right {
		margin-right: 1em;
		&-2x {
			margin-right: 2em;
			@media (max-width: $screen-sm) {
				margin-right: 1em;
			}
		}
		&-3x {
			margin-right: 3em;
			@media (max-width: $screen-sm) {
				margin-right: 2em;
			}
		}
		&-4x {
			margin-right: 4em;
			@media (max-width: $screen-sm) {
				margin-right: 3em;
			}
		}
	}
}

.nopadding {
	padding: 0;
	&.row {
		padding: 0;
		&.padding-top {
			padding-top: 1em;
		}
		&.padding-bottom {
			padding-bottom: 1em;
		}
	}
}

.padding {
	padding: 1em;
	&-cube {
		padding-top: 100%;
	}
	&-wide {
		padding-top: 56.25%;
	}
	&-2x {
		padding: 2em;
		@media (max-width: $screen-sm) {
			padding: 1em;
		}
	}
	&-3x {
		padding: 3em;
		@media (max-width: $screen-sm) {
			padding: 2em;
		}
	}
	&-4x {
		padding: 4em;
		@media (max-width: $screen-sm) {
			padding: 3em;
		}
	}
	&-top {
		padding-top: 1em;
		&-2x {
			padding-top: 2em;
			@media (max-width: $screen-sm) {
				padding-top: 1em;
			}
		}
		&-3x {
			padding-top: 3em;
			@media (max-width: $screen-sm) {
				padding-top: 2em;
			}
		}
		&-4x {
			padding-top: 4em;
			@media (max-width: $screen-sm) {
				padding-top: 3em;
			}
		}
	}

	&-bottom {
		padding-bottom: 1em;
		&-2x {
			padding-bottom: 2em;
			@media (max-width: $screen-sm) {
				padding-bottom: 1em;
			}
		}
		&-3x {
			padding-bottom: 3em;
			@media (max-width: $screen-sm) {
				padding-bottom: 2em;
			}
		}
		&-4x {
			padding-bottom: 4em;
			@media (max-width: $screen-sm) {
				padding-bottom: 3em;
			}
		}
	}

	&-left {
		padding-left: 1em;
		&-2x {
			padding-left: 2em;
			@media (max-width: $screen-sm) {
				padding-left: 1em;
			}
		}
		&-3x {
			padding-left: 3em;
			@media (max-width: $screen-sm) {
				padding-left: 2em;
			}
		}
		&-4x {
			padding-left: 4em;
			@media (max-width: $screen-sm) {
				padding-left: 3em;
			}
		}
	}

	&-right {
		padding-right: 1em;
		&-2x {
			padding-right: 2em;
			@media (max-width: $screen-sm) {
				padding-right: 1em;
			}
		}
		&-3x {
			padding-right: 3em;
			@media (max-width: $screen-sm) {
				padding-right: 2em;
			}
		}
		&-4x {
			padding-right: 4em;
			@media (max-width: $screen-sm) {
				padding-right: 3em;
			}
		}
	}
}

.bg {
	&-white {
		color: $brand-primary;
		background-color: $gray-lighter;
		& > a {
			color: lighten($brand-primary, 10%);
			&.btn {
				color: $btn-primary-color;
			}
		}
	}

	&-primary {
		@include gradient-directional($brand-primary, $brand-danger, 60deg);
		color: $white;
		& a, & p {
			color: $white;
		}
	}

	&-translucent {
		color: $white; 
		background-color: rgba($gray-darker, 0.0);
		& > a {
			color: $white;
		}
		& .container {
			position: relative;
		}
	}
	&-gray-lighter {
		background-color: lighten($gray-lighter, 3%);
	}
	&-gray {
		background-color: $gray-darker;
		color: $white; 
		a {
			color: #f7f7f7;
			&:hover, &:focus {
				color: #fff;
			}
		}
	}
	&-success {
		@include gradient-directional(#22aadd, $brand-success, 60deg);
		color: $white;
		& a, & p, small {
			color: $white;
			font-weight: 600;
		}
	}
	&-danger {
		@include gradient-directional($brand-primary, $brand-danger, 60deg);
		color: $white;
		& a, & p, small {
			color: $white;
			font-weight: 600;
		}
	}
	&-warning {
		@include gradient-directional($brand-primary, $brand-warning, 60deg);
		color: $white;
		& a, & p, small {
			color: $white;
			font-weight: 600;
		}
	}
}

.text {
	&-default {
		color: $gray-darker;
	}

	&-white {
		color: #fff;
	}

	&-danger {
		color: $brand-danger;
	}
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

@mixin hover_animation($amount) {
	transform: scale($amount);
}

@mixin z($z) {
	z-index: $z;
}


.z1 {
	@include z(1);
}

.vtop {
	display: inline-block;
	vertical-align: top; 
	float: none;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.vbottom {
	display: inline-block;
	vertical-align: bottom;
	float: none;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.btn {
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	@media (max-width: $screen-sm-max) {
		font-size: $font-size-small * 0.85;
	}
	&-link {
		cursor: pointer;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	overflow: visible;
	& strong, strong &, &.strong {
		@extend strong;
	}
	small {
		font-size: 65%;
		font-weight: 400;
	}
	.bg-primary & {
		color: #fff;
		& small {
			color: #fff;
		}
	}
	sup {
		text-transform: none;
	}
}

.pointer {
	cursor: pointer;
}

.row {
	padding-top: $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
}

.overflow-hidden {
	overflow-x: hidden;
}

.responsive {
	overflow: hidden;
	padding-bottom: 50%;
	position: relative;
	height: 0;
	iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}

@mixin background-cover {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

.background-cover {
	@include background-cover;
}

figure {
	@extend .max-width;
}

@mixin fa-rounded {
	$icon-base-size: $font-size-base;
	display: inline-block;
	font-size: $icon-base-size;
	width: 3em;
	text-align: center;
	line-height: 3em;
	margin-bottom: 1em; 
	margin-right: 1em; 
	border-radius: 50%; /* or 50% width & line-height */
}

.fa-rounded {
	@include fa-rounded;
}

@mixin card {
	border: 1px solid #f5f5f5;
	background-color: #fbfbfb;
}

.card {
	@include card;
	@include clearfix();
}

.popover {
	font-size: $font-size-small;
	color: $white;
	&-content {
		padding: $grid-gutter-width / 5 $grid-gutter-width / 3;
		img {
			max-width: 200px;
		}
	}
}

table.table {
	& > tbody {
		& > tr {
			& > td {
				vertical-align: middle;
			}
		}
	}
}

a[rel="lightGallery"] {
	display: block;
}

big {
	font-size: 1.5em;
	small {
		font-size: 0.75em;
	}
}