.navbar {
	&-inverse {
		border: 0;
	}
	&-brand {
		padding: 0;
		img, svg {
			height: 100%; 
			padding: $grid-gutter-width / 3;
			width: auto;
		}
	}
}

.row {
	padding-top: $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
}

svg {
	width: 100%;
	height: auto;
}

.img {
	&-thumbnail {
		@include gradient-directional($brand-primary, $brand-danger, 60deg);
		border: 0;
	}
}

.vcenter {
	display: inline-block; 
	float: none; 
	vertical-align: middle;
}

.jumbotron {
	@include gradient-directional($brand-primary, $brand-danger, 60deg);
	color: #fff;
	margin-bottom: 0;
	p {
		font-weight: 600;
	}
}

footer {
	$darken_amount: 35%;
	$darken_primary: darken($brand-primary, $darken_amount);
	$darken_danger: darken($brand-danger, $darken_amount);
	@include gradient-directional($darken_primary, $darken_danger, 60deg);
	color: #fff;
	a {
		color: #fff;
		&:focus, &:hover {
			color: #fff;
		}
	}
	.row {
		padding-top: $grid-gutter-width * 2;
		padding-bottom: $grid-gutter-width * 2;
	}
}

* {
	outline: 0;
}

div[type="button"] {
	cursor: pointer;
}

.modal {
	&-header {
		@include gradient-directional($brand-primary, $brand-danger, 60deg);
		color: $white;
		position: relative;
		i {
			color: #fff;
		}
		border-bottom-width: 0px;
		.modal-title {
			font-size: 2.5em;
			padding: 0.5em 0;
		}
	}
	&-content {
		overflow: hidden;
		border-radius: 0;
		border: 0;
	}
	&-footer {
		border-top-width: 0px;
	}
}

.btn {
	border: 0;
	&-primary {
		@include gradient-directional($brand-primary, $brand-danger, 60deg);
	}
	&-success {
		@include gradient-directional($brand-primary, $brand-success, 60deg);
	}
	&:focus, &:hover {
		@include hover_animation(1.2);
		i.icon-refresh {
			@extend .icon-spin;
		}
	}
}

textarea {
	resize: vertical;
}

.close {
	@include opacity(1);
	&:focus, &:hover {
		@include opacity(1);
		@include hover_animation(1.4);
	}
}

.admin-card {
	@include transition(all .20s cubic-bezier(0.66, 0, 0.44, 1));
	&:hover {
		transform: scale(1.1);
		@include transition(all .20s cubic-bezier(0.66, 0, 0.44, 1));
	}
}

.alert {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

.lead {
	margin-bottom: 0;
}

#home {
	@extend .lead;
	.row {
		&.counts {
			padding: 0;
			.description {
				@extend .col-xs-12;
				.description-text {
					@media (max-width: $screen-xs-max) {
						padding: 2em;
					}
					@media (min-width: $screen-sm) {
						padding: 4em;
					}
					@media (min-width: $screen-md) {
						padding: 6em;
					}
					@media (min-width: $screen-lg) {
						padding: 8em;
					}
				}
			}
			.count {
				@extend .col-xs-12;
				@extend .background-cover;
				text-align: center;	
				position: absolute;
				top: 0; 
				right: 0; 
				bottom: 0; 
				left: 0;
				.count-number {
					position: absolute; 
					font-size: 4em; 
					color: #fff; 
					font-weight: 300;
					text-shadow: 0 0 5px #333;
					left: 50%; 
					top: 50%;
					margin-top: -0.5em;
					margin-left: -0.5em;
					line-height: 1;
				}
				&.Devs {
					background-image: url('/assets/images/devs.jpeg');
				}
				&.Tickets {
					background-image: url('/assets/images/bugs.jpeg');
				}
				&.Roles {
					background-image: url('/assets/images/roles.jpeg');
				}
				&.Patches {
					background-image: url('/assets/images/patches.jpeg');
				}
			}
			&:nth-child(odd) {
				text-align: right;
				.description {
					@extend .col-md-offset-0;
					@extend .col-md-6;
				}
				.count {
					min-height: 400px;
					float: left;
					@extend .col-md-offset-0;
					@extend .col-md-6;
				}
			}
			&:nth-child(even) {
				text-align: left;
				.description {
					@extend .col-md-offset-0;
					@extend .col-md-6;
				}
				.count {
					min-height: 400px;
					float: right;
					@extend .col-md-offset-0;
					@extend .col-md-6;
				}
			}
		}
	}
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

.icon-pulse {
  -webkit-animation: icon-spin 1s infinite steps(8);
          animation: icon-spin 1s infinite steps(8);
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

.status {
	@extend .vcenter;
	@extend .relative;
	display: inline;
	i {
		position: absolute;
	}
}